<!DOCTYPE html>
<html lang="ja">
        <head>
                <meta charset="utf-8">
                <meta name="viewport" content="width=device-width,initial-scale=1" />
                <title>regap controller</title>
                <link rel="stylesheet" href="css/style.css" />
        </head>
	<body>
	        <p>
			<div>
				<div class="inline-block">
					<button class="start-button" type="button" onclick="start();">Start</button>
				</div>
				<div id="start_lamp" class="border-radius background-color-gray inline-block"></div>
			<div>
		</p>
		<p>
			<div class="inline-block">
				Uid:
			</div>
			<div class="inline-block">
				<input id="uid" type="text" size="32" value="{{ .uid }}" readonly>
			</div>
		</p>
		<p>
			<div class="inline-block">
				Audio output devices:
			</div>
			<div class="inline-block" id="div_for_audio_output_devices">
				<select v-model="selectedAudioOutputDevice"  v-on:change="setSkinId">
					<option v-for="device in audioOutputDevices" v-bind:value="device.deviceId">
					{{ "{{device.label}}" }}
					</option>
				</select>
			</div>
		</p>
		<p>
			<div class="inline-block">
				Gamepads:
			</div>
			<div class="inline-block" id="div_for_gamepads">
				<select v-model="selectedGamepad">
					<option v-for="gamepad in gamepads" v-bind:value="gamepad.index">
					{{ "{{gamepad.id}}" }}
					</option>
				</select>
			</div>
		</p>
		<p>
			<video id="remote_video" autoplay style="width: 960px; height: 540px; border: 1px solid black;" ></video>
                </p>
		<p>
			<div class="inline-block">
				PeerUid:
			</div>
			<div class="inline-block">
				<input id="peer_uid" type="text" size="32" readonly>
			</div>
		</p>
		<p>
			Peer offer SDP:
			<br />
			<textarea id="text_for_receive_sdp" rows="5" cols="60" readonly="readonly"></textarea>
		</p>
		<p>
			Local anser SDP:
			<br />
			<textarea id="text_for_send_sdp" rows="5" cols="60" readonly="readonly"></textarea>
		</p>
		<p>
			<button type="button" onclick="hangUp();">Hang Up</button>
		</p>
		<script src="https://cdn.jsdelivr.net/npm/vue@2.6.14"></script>
		<script type='text/javascript' src="js/controller.js"></script>
        </body>
</html>
